<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="uk.gov.dwp.dataworks.logging.LoggerLayoutAppender"/>
        </encoder>
    </appender>

    <logger name="org.apache" level="ERROR" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>